<div style="width: 100%; background-color: #014d99;">
    <div style="display: inline-block; width: 100%; padding-top: 10px; padding-bottom: 10px;">
        <div style="float: left; width: 50%; padding-left: 20px;">
            <div style="display: inline-block;">
                <div style="float: left;">
                    <img src="/assets/images/logo.png" height="50px">
                </div>
                <div style="float: left; padding-left: 7px; padding-top: 5px;">
                    <img src="/assets/images/name.png" height="40px">
                </div>
                <div style="float: left; padding-left: 27px; padding-top: 15px; font-size: 140%;" *ngIf="User!=undefined">
                    <a routerLink="/" routerLinkActive="active" style="color:#e7eaec; cursor: pointer;">РУПы</a>
                    <a *ngIf="User.role!='Admin'" routerLink="/subjectList" routerLinkActive="active" style="color:#e7eaec; cursor: pointer; padding-left: 10px;">Предметы</a>
                    <a *ngIf="User.role!='Admin'" routerLink="/specialtyList" routerLinkActive="active" style="color:#e7eaec; cursor: pointer; padding-left: 10px;">Специальности</a>
                    <a *ngIf="User.role=='Admin'" routerLink="/userList" routerLinkActive="active" style="color:#e7eaec; cursor: pointer; padding-left: 10px;">Пользователи</a>
                </div>
            </div>
        </div>
        <div *ngIf="User!=undefined" style="float: right; width: 50%; text-align: right; padding-right: 25px; color: #ffffff; padding-top: 2px;">
            <div style="font-size: 125%;">{{User.name}}</div>
            <div (click)="logOut()" style="font-size: 13px; font-weight: 200; opacity: 0.7;">
                <a style="color:#ffffff; cursor: pointer;">Выйти</a>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>


<style>
    .container {
        margin-top: 20px;
        text-align: center;
        background-color: #e7eaec;
        width : 450px;
        padding-bottom: 20px;
        color : #014d99
    }
    .wd {
        width : 150px;
        background-color: #014d99;
    }
    .form-control {
        width : 150px;
        text-align: center;
        display: inline;
    }
</style>