<div class="container">
    <h2>Новый предмет</h2>
    <div class="form-group">
        <div>Название</div>
        <input [(ngModel)]="Name" type="text" class="form-control">
    </div>
    <div class="form-group">
        <div>Шифр</div>
        <input [(ngModel)]="Shifr" type="text" class="form-control">
    </div>
    <div class="form-group">
        <div>Количество лекций</div>
        <input [(ngModel)]="Lec" type="number" class="form-control">
    </div>
        <div class="form-group">
        <div>Количество лабораторных</div>
        <input [(ngModel)]="Lab" type="number" class="form-control">
    </div>
    <div class="form-group">
        <div>Количество практик</div>
        <input [(ngModel)]="Pr" type="number" class="form-control">
    </div>
    <div class="form-group">
        <div>Тип</div>
        <select [(ngModel)]="Type" class="form-control">
            <option value="Общеобразовательная">Общеобразовательная</option>
            <option value="Базовая">Базовая</option>
            <option value="Базовая">Профилирующая</option>
        </select>
    </div>
    <div *ngFor="let p of Prerequisites">
        {{p.name}}
        <button class="remove" (click)="deleteSubject(p)">
            <img src="/assets/images/remove-icon.png" width="12px">
        </button>
    </div>
    <button (click)="openDialog()" class="add-teacher-button" style="outline: none;">
        <div style="display: inline-block;">
            <div style="float: left;"><img src="/assets/images/add-icon.png" width="18px"></div>
            <div style="padding-left: 10px; float: left; padding-top: 1px;">ДОБАВИТЬ ПРЕРЕКВИЗИТ</div>
        </div>
    </button>
    <br><br>
    <div class="form-group">
        <input (click)="save()" type="submit" value="Сохранить" class="btn btn-default">
        <a href="/" class="btn btn-default">На главную</a>
    </div>
</div>