<style>
    body {
        background: rgb(204,204,204);
    }
    section {
        background: white;
        display: block;
        margin: 0 auto;
        margin-bottom: 0.5cm;
        box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
    }
    section[size="A4"] {
        width: 21cm;
        height: 29.7cm;
    }
    pageSize {
        width: 21cm;
        height: 29.7cm;
        background: white;
        display: block;
        margin: 0 auto;
        margin-bottom: 0.5cm;
        box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
    }

    table {
        border-collapse: collapse;
    }

    table, th, td {
        border: 1px solid black;
        font-size: 8px;
    }

    .verticalTableHeader {
        text-align:center;
        white-space:nowrap;
        transform-origin:50% 50%;
        -webkit-transform: rotate(270deg);
        -moz-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        -o-transform: rotate(270deg);
        transform: rotate(270deg);

    }
    .verticalTableHeader:before {
        content:'';
        padding-top:110%;/* takes width as reference, + 10% for faking some extra padding */
        display:inline-block;
        vertical-align:middle;
    }
</style>

<section style="margin-top: 20px" size="A4">
    <div style="margin-left: 60px; margin-right: 60px;" ng-controller="printController as self">
        <div align="center" style="padding-top: 40px; font-size: 10px; font-weight: 600;">
            <div *ngIf="ryp != null">УЧЕБНЫЙ ПЛАН СПЕЦИАЛЬНОСТИ для набора на {{ryp.year}} уч. год</div>
            <div *ngIf="ryp != null">{{ryp.specialty.shifr}} - {{ryp.specialty.name}}</div>
        </div>

        <div style="display: inline-block; font-size: 10px; margin-top: 15px;">
            <div style="float: left; margin-left: 10px;">Форма обучения: <span style="padding-left: 5px;">Дневная</span></div>
            <div style="float: left; margin-left: 70px;">Срок обучения: <span style="padding-left: 5px;">4 года</span></div>
            <div style="float: left; margin-left: 70px;">Академическая степень: <span style="padding-left: 5px;">Бакалавр техники и технологий</span></div>
        </div>

        <div style="display: inline-block; width: 100%; margin-top: 5px;">
            <!--НЕЧЕТНЫЕ СЕМЕСТРЫ-->
            <div style="float: left; width: 50%; padding-right: 3px;">
                <div align="center">
                    <table>
                        <tr >
                            <td width="41" align="center">Код</td>
                            <td width="160" align="center">Наимнование дисциплины</td>
                            <td width="16" align="center">Ком- по- нент</td>
                            <td width="16" align="center">Кре- ди- ты</td>
                            <td width="30" align="center">лк/лаб/пр</td>
                            <td width="41" align="center">Пререк- визит</td>
                        </tr>
                        <ng-container *ngFor="let sem of odd; let i = index" [attr.data-index]="i">
                            <tr>
                                <td colspan="7" align="center" style="padding-top: 5px; padding-bottom: 5px; font-weight: 600; font-size: 9px;">{{2 * i + 1}} семестр</td>
                            </tr>
                            <tr *ngFor="let s of sem.sem">
                                <td style="padding: 4px;">{{s.shifr}}</td>
                                <td>{{s.name}}</td>
                                <td align="center">{{s.type.code}}</td>
                                <td align="center">{{s.credits}}</td>
                                <td align="center">{{s.lec + '/' + s.lab + '/' + s.pr}}</td>
                                <td *ngIf="s.prerequisites.length == 0 || s.prerequisites == null" align="center">нет</td>
                                <td *ngIf="s.prerequisites.length != 0" align="center">да</td>
                            </tr>
                            <tr *ngFor="let n of sem.number">
                                <td style="padding-bottom: 19px;"></td>
                                <td></td>
                                <td align="center"></td>
                                <td align="center"></td>
                                <td align="center"></td>
                                <td align="center"></td>
                            </tr>
                            <tr>
                                <td colspan="2" align="center" style="padding: 4px; font-weight: 600;">Всего:</td>
                                <td></td>
                                <td align="center" style="font-weight: 600;">{{semestersCredits[2 * i]}}</td>
                                <td></td>
                                <td></td>
                            </tr>
                        </ng-container>
                    </table>
                </div>
            </div>
            <div style="float: left; width: 50%; padding-right: 3px;">
                <div align="center">
                    <table>
                        <tr >
                            <td width="41" align="center">Код</td>
                            <td width="160" align="center">Наимнование дисциплины</td>
                            <td width="16" align="center">Ком- по- нент</td>
                            <td width="16" align="center">Кре- ди- ты</td>
                            <td width="30" align="center">лк/лаб/пр</td>
                            <td width="41" align="center">Пререк- визит</td>
                        </tr>
                        <ng-container *ngFor="let sem of even; let i = index" [attr.data-index]="i">
                            <tr>
                                <td colspan="7" align="center" style="padding-top: 5px; padding-bottom: 5px; font-weight: 600; font-size: 9px;">{{2 * (i+1)}} семестр</td>
                            </tr>
                            <tr *ngFor="let s of sem.sem">
                                <td style="padding: 4px;">{{s.shifr}}</td>
                                <td>{{s.name}}</td>
                                <td align="center">{{s.type.code}}</td>
                                <td align="center">{{s.credits}}</td>
                                <td align="center">{{s.lec + '/' + s.lab + '/' + s.pr}}</td>
                                <td *ngIf="s.prerequisites == null" align="center">нет</td>
                                <td *ngIf="s.prerequisites != null" align="center">да</td>
                            </tr>
                            <tr *ngFor="let n of sem.number">
                                <td style="padding-bottom: 19px;"></td>
                                <td></td>
                                <td align="center"></td>
                                <td align="center"></td>
                                <td align="center"></td>
                                <td align="center"></td>
                            </tr>
                            <tr>
                                <td colspan="2" align="center" style="padding: 4px; font-weight: 600;">Всего:</td>
                                <td></td>
                                <td align="center" style="font-weight: 600;">{{semestersCredits[2 * i]}}</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <!-- <tr ng-repeat="add in sem.additions">
                                <td colspan="7" height="19px;"></td>
                            </tr>
                            <tr ng-repeat-end></tr> -->
                        </ng-container>
                    </table>
                </div>
            </div>
        </div>
        <div style="display: inline-block; width: 100%; margin-top: 10px; margin-left: -3px;">
            <div style="float: left; width: 50%;">
                <div align="center">
                    <table>
                        <tr>
                            <td colspan="7" align="center" style="padding-top: 4px; padding-bottom: 4px; font-weight: 600;">Дополнительные виды обучения</td>
                        </tr>
                        <tr>
                            <td width="16" align="center" style="padding: 3px;">Год</td>
                            <td width="57" align="center">Код</td>
                            <td width="160" align="center">Наимнование</td>
                            <td width="30" align="center">Кре- диты</td>
                            <td width="41" align="center">Семестр</td>
                        </tr>
                        <tr>
                            <td width="16" align="center" style="padding: 3px;">1</td>
                            <td width="57" align="center">AAP106</td>
                            <td width="160" align="left">Физическая культура I</td>
                            <td width="30" align="center">0</td>
                            <td width="41" align="center">1</td>
                        </tr>
                        <tr>
                            <td width="16" align="center" style="padding: 3px;">1</td>
                            <td width="57" align="center">AAP108</td>
                            <td width="160" align="left">Физическая культура II</td>
                            <td width="30" align="center">0</td>
                            <td width="41" align="center">2</td>
                        </tr>
                        <tr>
                            <td width="16" align="center" style="padding: 3px;">1</td>
                            <td width="57" align="center">AAP101</td>
                            <td width="160" align="left">Учебная практика</td>
                            <td width="30" align="center">2</td>
                            <td width="41" align="center">2</td>
                        </tr>
                        <tr>
                            <td width="16" align="center" style="padding: 3px;">2</td>
                            <td width="57" align="center">AAP109</td>
                            <td width="160" align="left">Производственная практика I</td>
                            <td width="30" align="center">1</td>
                            <td width="41" align="center">4</td>
                        </tr>
                        <tr>
                            <td width="16" align="center" style="padding: 3px;">3</td>
                            <td width="57" align="center">AAP103</td>
                            <td width="160" align="left">Производственная практика II</td>
                            <td width="30" align="center">1</td>
                            <td width="41" align="center">4</td>
                        </tr>
                        <tr>
                            <td width="16" align="center" style="padding: 3px;">3</td>
                            <td width="57" align="center">AAP103</td>
                            <td width="160" align="left">Производственная практика II</td>
                            <td width="30" align="center">1</td>
                            <td width="41" align="center">6</td>
                        </tr>
                        <tr>
                            <td width="16" align="center" style="padding: 3px;">4</td>
                            <td width="57" align="center">AAP111</td>
                            <td width="160" align="left">Преддипломная практика</td>
                            <td width="30" align="center">2</td>
                            <td width="41" align="center">8</td>
                        </tr>
                        <tr>
                            <td width="16" align="center" style="padding: 3px;">4</td>
                            <td width="57" align="center"></td>
                            <td width="160" align="left">Комплексное тестирование (ВОУД)</td>
                            <td width="30" align="center"></td>
                            <td width="41" align="center">7</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div style="float: left; width: 50%; margin-left: -2px;">
                <div align="center">
                    <table>
                        <tr>
                            <td colspan="7" align="center" style="padding-top: 4px; padding-bottom: 4px; font-weight: 600;">Количество кредитов за весь период обучения</td>
                        </tr>
                        <tr>
                            <td width="214" align="center" style="padding: 4px;">Наименование</td>
                            <td width="30" align="center">Обяз.</td>
                            <td width="30" align="center">Элект.</td>
                            <td width="30" align="center">Всего</td>
                        </tr>
                        <tr>
                            <td width="214" align="left" style="padding: 4px;">Цикл общеобразовательных диспицлин (О)</td>
                            <td width="30" align="center">{{GeneralCredits}}</td>
                            <td width="30" align="center">{{GeneralElCredits}}</td>
                            <td width="30" align="center">{{GeneralCredits + GeneralElCredits}}</td>
                        </tr>
                        <tr>
                            <td width="214" align="left" style="padding: 4px;">Цикл базовых дисциплин (Б)</td>
                            <td width="30" align="center">{{BaseCredits}}</td>
                            <td width="30" align="center">{{BaseElCredits}}</td>
                            <td width="30" align="center">{{BaseCredits + BaseElCredits}}</td>
                        </tr>
                        <tr>
                            <td width="214" align="left" style="padding: 4px;">Цикл профилирующих дисциплин (П)</td>
                            <td width="30" align="center">{{ProfilingCredits}}</td>
                            <td width="30" align="center">{{ProfilingElCredits}}</td>
                            <td width="30" align="center">{{ProfilingCredits + ProfilingElCredits}}</td>
                        </tr>
                        <tr>
                            <td width="214" align="center" style="padding: 4px; font-weight: 600;">Всего по теоритическому обучению:</td>
                            <td width="30" align="center">{{TotalCredits}}</td>
                            <td width="30" align="center">{{TotalElCredits}}</td>
                            <td width="30" align="center">{{TotalCredits + TotalElCredits}}</td>
                        </tr>
                        <tr>
                            <td width="214" align="left" style="padding: 4px;">Профессиональная практика (ДВО)</td>
                            <td width="30" align="center">{{PractiseCredits}}</td>
                            <td width="30" align="center">-</td>
                            <td width="30" align="center">{{PractiseCredits}}</td>
                        </tr>
                        <tr>
                            <td width="214" align="left" style="padding: 4px;">Итоговая аттестация (ИА)</td>
                            <td width="30" align="center">{{AttestationCredits}}</td>
                            <td width="30" align="center">-</td>
                            <td width="30" align="center">{{AttestationCredits}}</td>
                        </tr>
                        <tr>
                            <td width="214" align="center" style="padding: 4px; font-weight: 600;">ИТОГО:</td>
                            <td width="30" align="center">{{TotalCredits}}</td>
                            <td width="30" align="center">{{TotalElCredits}}</td>
                            <td width="30" align="center">{{TotalCredits + TotalElCredits}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
    
<section style="height: 297mm; width: 210mm;">

</section>